/* 
	----------------------------------------
	Edit account page
	----------------------------------------
*/
#edit-account-container {
	padding: 5%;
}

#edit-account-container h2 {
	margin: .75em 0;
}

.edit-account-container-small {
	float: left;
	padding-right: 3%;
	word-wrap:break-word;
	overflow:auto;
	width: 210px;
}

#delete-account-container {
	margin: 2.7%;
}

#delete-account-link {
	margin: 2.7%;
}