/* 
	----------------------------------------
	Editor page
	----------------------------------------
*/
#videos-container {
	position: absolute;
	top: 20px;
	right: 60%;
	bottom: 150px;
	left: 0px;
	/* 100% - (video width) - (2 x (sum of padding, border, margin)) */
}

#videos-header {
	position: absolute;
	top: 0%;
	right: 0%;
	bottom: 85%;
	left: 0%;
}

#videos-title {
	float: left;
	margin: 3%;
	font-size: 240%;	/* 24px */
	color: #92bd6a; /* The Olive color */
}

#videos-controls {
	float: right;
	margin: 1%;
}

#videos {
	position: absolute;
	top: 15%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	text-align: left;
	border: 1px solid gray;
	margin: 10px 0px 10px 10px;
	overflow: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#def0ce)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #def0ce); /* for firefox 3.6+ */ 
	
}

.video-container {
	float: left;
	height: 125px;
	width: 130px;
	margin: 5px;
	padding: 5px;
	border: 1px solid green;
	background-color: #FEFEFE;
	text-align: center;
	overflow: hidden;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.video-image {
	border: 1px solid gray;
	height: 40px;
}

.video-name {
	line-height: 1.2em;	/* Larger than font-size */
	font-size: 1em;	/* Smaller than line-height */
	max-height: 3.6em;	/* 3 x line-height */
	text-align: center;
	word-wrap: break-word;
	overflow: hidden; /* Temporary solution to text-overflow not working */
}

.video-name:hover {
	background-color: #ffffd3;
}

.video-name > input {
	width: 90%;	/* Same as .video-container */
}

.video-name > button {
}

#player-container {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 150px;
	left: 40%;
	/* A bit smaller than #videos-container's right edge (compensate for border, etc. */
	border: 1px solid gray;
	background-color: #101010;
	text-align: center;
	margin: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#player {
	/* Width and height should be 100% to ensure the video can never extend
	 * beyond its container, but doing so allows the controls (which don't have
	 * an aspect ratio to maintain) to extend beyond the video playing area.
	 */
	width: 100%;
	height: 100%;
}

#timeline {
	position: absolute;
	right: 200px;
	bottom: 0px;
	left: 0px;
	height: 150px; /* Larger than height of .video-container */
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	margin-left: 10px;
	overflow-x: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#def0ce)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #def0ce); /* for firefox 3.6+ */ 
	/*text-align: center;*/
}

/*
#timeline-background-text {
	font-size: 100px;
	color: #eeeeee;
	position: relative;
	top: 40%;
}*/
#tick-anchor {
	position: absolute;
	top: 50%;
	height: 0px;
	width: 100%;
	/*border-top: 1px solid green;*/
}

#export {
	position: absolute;
	right: 0px;
	bottom: 0px;
}