/* 
	----------------------------------------
	Login page
	----------------------------------------
*/
/*#splash-container {
	position: absolute;
	top: 0%;
	right: 50%;
	bottom: 0%;
	left: 0%;
	padding: 10% 10% 10% 10%;
}

#splash-image {
	float: right;
	width: 379px;
	height: 145px;
}*/

#login-form-container {
	position: absolute;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 50%;
	padding: 10% 10% 10% 10%;
}

#login-form {
	
}
#screencast-container{
	position: absolute;
	top: 0%;
	right: 50%;
	bottom: 0%;
	left: 0%;
	padding: 2% 10% 10% 5%;

}

/*.jp-playlist{
	max-height: 50px;
	overflow: auto;
}*/