@charset "UTF-8";

/* For HTML4 defaults, see: http://www.w3.org/TR/CSS2/sample.html */ /* 
	----------------------------------------
	HTML elements
	----------------------------------------
*/
body {
	/* The default font-size is 16px, but this makes the math easier. For
	 * example, to set the size of the 'p' element to 16px, set it to 160%.
	 * To set the size of the 'h1' element to 32px, set it to 320%. Why not just
	 * set the 'p' element to 16px and the 'h1' element to 32px? Because users
	 * who want to resize the text on the page won't be able to because the size
	 * is fixed. It's better to express font-size in terms of percentages, and
	 * this is a neat way to do that.
	 */
	font-size: 16px;
	line-height: 20px;
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	/*background-color: #edf4e6;*/
	/* A lightened version of the Olive color */
}

h1,h2,h3,h4,h5,h6 {
	color: #92bd6a; /* The Olive color */
	font-family: Lato, Calibri, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 48px; /* 32px */ /*margin: .67em 0;*/
	padding: 20px;
}

h2 {
	font-size: 36px; /* 24px */ /*margin: .75em 0*/
}

h3 {
	font-size: 30px; /* 18.72px */ /*margin: .83em 0;*/
}

h4 {
	font-size: 24px; /* 16px */ /*margin: 1.12em 0;*/
}

h5 {
	font-size: 20px; /* 13.28px */ /*margin: 1.5em 0;*/
}

h6 {
	font-size: 18px; /* 12px */ /*margin: 1.67em 0;*/
}

p {
	font-size: 18px; /* 12px */
	margin: 1.12em 0;
	line-height: 1.2em;
}

a:link {
	color: green;
}

a:visited {
	color: green;
}

a:hover { 
	color: #92bd6a;
}

table {
	border-spacing: 40px 10px;
	margin-left: 100px;
	padding: 10px;
}

tr,td {
	padding: 0px 10px 0px 10px;
}

button { /*background-color: #edf4e6;*/
	/* A lightened version of the Olive color */
	
}

ul {
	list-style-type: none;
}

strong {
	font-weight: bolder;
}

small {
	font-size: .83em;
}

/* 
	----------------------------------------
	General styling
	----------------------------------------
*/
.clear {
	clear: both;
}

.center-text {
	text-align: center
}

.center-block {
	margin-left: auto;
	margin-right: auto;
}

.warning {
	color: red;
	text-decoration: underline;
	cursor: pointer;
}
.link {
	color: blue;
	text-decoration:underline;
	cursor: pointer;
}

.hidden {
	display: none;
}

/* 
	----------------------------------------
	Common elements to every page
	----------------------------------------
*/
#header {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 60px;
	border-bottom: 1px solid #888888;
	min-width: 1000px;
}

#header-left {
	text-align: left;
	margin-left: 1%;
}

#olive-icon {
	float: left;
	height: 45px;
	width: 45px;
	margin-top: 5px;
}

#olive-title {
	float: left;
}

#header-right {
	float: right;
	text-align: right;
	margin-right: 1%;
}

#header-right > div {
	position: absolute;
	right: 10px;
	top: 5px;
}

#main {
	position: absolute;
	top: 60px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	min-width: 1000px;
	min-height: 450px;
	overflow: auto;
	box-shadow: 0px 0px 2px 2px #aaaaaa;
}

#footer {
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: 0px;
	border-top: 1px solid #888888;
	min-width: 1000px;
	background-color: #ffffff;
}

#footer-left {
	float: left;
	text-align: left;
	margin-left: 1%;
}

#footer-right {
	float: right;
	text-align: right;
	margin-right: 1%;
}

/* 
	----------------------------------------
	jQuery modal dialog
	----------------------------------------
*/
label,input {
	display: block;
}

input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

div#users-contain {
	width: 350px;
	margin: 20px 0;
}

div#users-contain table {
	margin: 1em 0;
	border-collapse: collapse;
	width: 100%;
}

div#users-contain table td,div#users-contain table th {
	border: 1px solid #eee;
	padding: .6em 10px;
	text-align: left;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}