/* 
	----------------------------------------
	Projects page
	----------------------------------------
*/
#projects-container {
	position: absolute;
	top: 0%;
	right: 15%;
	bottom: 10%;
	left: 15%;
	overflow: hidden;
	padding: 10px;
}


#projects-title {
	float: left;
	margin: 2%;
	font-size: 240%;	/* 24px */
	color: #92bd6a; /* The Olive color */
}

#projects-controls {
	float: right;
	margin: 1%;
}

#projects {
	position: absolute;
	top: 12%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	text-align: left;
	overflow: auto;
	border: 1px solid gray;
	border-radius: 5px;
}

.project-container {
	float: left;
	height: 125px;
	width: 110px;
	margin: 5px;
	padding: 5px;
	border: 1px solid green;
	background-color: #FEFEFE;
	text-align: center;
	border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
}

.project-image {
	height: 40px;
}

.project-name {
	line-height: 1.2em;	/* Larger than font-size */
	font-size: 1em;	/* Smaller than line-height */
	max-height: 3.6em;	/* 3 x line-height */
	text-align: center;
	word-wrap: break-word;
	overflow: hidden; /* Temporary solution to text-overflow not working */
}

.project-name:hover {
	background-color: #ffff9e;
}

.project-name > input {
	width: 90%;	/* Same as .video-container */
}

.project-name > button {
	font-size: 12px;
}

#first-sign-in-dialog{
	margin: 10px;
}