/* 
	----------------------------------------
	Projects page
	----------------------------------------
*/
#projects-container {
	position: absolute;
	top: 0%;
	right: 25%;
	bottom: 0%;
	left: 25%;
}

#projects-title {
	position: absolute;
	top: 0%;
	right: 0%;
	bottom: 85%;
	left: 0%;
	overflow: hidden;
}

#projects-controls {
	position: absolute;
	top: 15%;
	right: 0%;
	bottom: 75%;
	left: 0%;
	overflow: hidden;
}

#projects {
	position: absolute;
	top: 25%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	text-align: left;
	border-top: 1px solid gray;
	overflow: auto;
}

.project-container {
	float: left;
	height: 125px;
	width: 130px;
	margin: 5px;
	padding: 5px;
	border: 2px solid green;
	background-color: #FEFEFE;
	text-align: center;
	border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
}

.project-image {
	border: 3px solid green;
	border-radius: 3px;
	height: 40px;
}

.project-name {
	line-height: 1.2em;	/* Larger than font-size */
	font-size: 1em;	/* Smaller than line-height */
	max-height: 3.6em;	/* 3 x line-height */
	text-align: center;
	word-wrap: break-word;
	overflow: hidden; /* Temporary solution to text-overflow not working */
}

.project-name:hover {
	background-color: #ffffd3;
}

.project-name > input {
	width: 90%;	/* Same as .video-container */
}

.project-name > button {
}